.form {
    background-color: #2c3e50;
    position: absolute;
    border-radius: 10px;
    padding: 10px; /* aumentamos el padding para que haya más espacio entre los elementos */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    width: 200%;
    font-family: 'Bebas Neue';
   ; /* reducimos un poco el ancho para que los elementos no queden muy separados */
}

.label {
    color: #fff;
    font-size: x-large;
}

.img_container {
    width: 70%;
    height: 70%;
}

.img_container img {
    width: 70%; /* ajustamos el ancho para que la imagen ocupe todo el espacio disponible */
    height: 70%; /* ajustamos la altura para que se mantenga la proporción original */
    
}

.input {
    background-color: #fff;
    border: none;
    border-radius: 5px; /* reducimos el radio para que los bordes sean más suaves */
    /* box-shadow: 0 0 5px #f4d03f; */
    margin: 10px;
    padding: 15px; /* aumentamos el padding para que el texto no quede pegado a los bordes */
    font-size: 16px;
    width: 80%; /* ampliamos el ancho para que ocupe todo el espacio disponible */
    font-family: 'Bebas Neue' ;
    
}

.button {
    background-color: #f4d03f;
    border: 1px solid #f4d03f;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; /* aumentamos el margen para que quede más separado del input */
    padding: 15px;
    width: 40%;
    font-family: 'Bebas Neue';
}

.input:hover {
    box-shadow: 0 0 10px #f4d03f; /* agregamos un efecto de sombra cuando el cursor pasa sobre el input */
    cursor: crosshair;
}


.button:hover {
    background-color: transparent;
    border: 1px solid #f4d03f;
    color: #fff;
}

/* .input:invalid {
    box-shadow: 0 0 5px #e74c3c;
}

.input:valid {
    box-shadow: 0 0 5px #2ecc71;
} */
