.login {
    background-color: #2c3e50;
    position:absolute;
    border-radius: 10px;
    padding: 10px; 
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    width: 200%;
    font-family: 'Montserrat';
    box-shadow: 0px 0px 10px 5px #f4d03f;
}

.label {
    color: #fff;
    font-size: x-large;
}

.img_container {
    width: 70%;
    height: 70%;
}

.img_container img {
    width: 70%;
    height: 70%; 
}

.input {
    background-color: #fff;
    border: none;
    border-radius: 5px; 
    margin: 10px;
    padding: 15px; 
    font-size: 16px;
    /* box-shadow: 0 0 5px #f4d03f; */
    width: 80%; 
    font-family: 'Montserrat' ;
    
}

.button {
    background-color: #f4d03f;
    border: 1px solid #f4d03f;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; 
    padding: 15px;
    width: 40%;
    font-family: 'Montserrat';
}

.input:hover {
    box-shadow: 0 0 10px #f4d03f; 
    cursor: crosshair;
}


.button:hover {
    background-color: transparent;
    border: 1px solid #f4d03f;
    color: #fff;
}

